.errLog { border: 1px solid #f00; background-color: #fdd; padding: 1ex;}
.hidden { display: none !important; }

/* Catalog widget */
.catalog-category,
.catalog-product {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 64px;
    background-color: #DDD;
    margin: 5px;
}
.catalog-category,
.catalog-product {
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.catalog-label {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
}
.catalog-label-long {
    font-size: small;
}
.catalog-label-verylong {
    font-size: x-small;
}
.catalog-categories-container {
    overflow-x: auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 0.2em;
}
.catalog-products-container {
    overflow-y: auto;
    border: 1px solid #000;
    margin-bottom: 10px;
    padding: 0.2em;
}

/* Place list widget */
.placelist-place {
    background-color: #bbe;
    border-top: 1px solid #777;
    border-bottom: 1px solid #333;
    padding: 0.3ex 1ex;
}
.placelist-place-occupied {
    font-weight: bold;
}
